{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
Новость
{% endblock title %}

{% block content %}
<h1>Публикация № {{new.pk }}</h1>
<h3>{{ time_now|date:' d M Y' }}</h3>
   <hr>
       <table>
           <tr>
               <td>Название</td>
               <td>Текст</td>
               <td>Дата публикации</td>

           </tr>

           <tr>
               <td>{{ new.title|censor }}</td>
               <td>{{ new.text|censor }}</td>
               <td>{{ new.date_in|date:'d M Y' }}</td>


           </tr>
       </table>
{% endblock content %}
